<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/master.css" type="text/css">
	<link rel="icon" href="/media/images/logo_color.ico" type="image/x-icon" />
	<title>Code Exchange</title>

	<script src="./libraries/codemirror/lib/codemirror.js"></script>
	<script src="./libraries/codemirror/mode/xml/xml.js"></script>
	<script src="./libraries/codemirror/addon/edit/closetag.js"></script>

	<link rel="stylesheet" href="./libraries/codemirror/lib/codemirror.css" type="text/css">
	<link rel="stylesheet" href="./libraries/codemirror/theme/dracula.css" type="text/css">
</head>

<body id="room">

	<input type="hidden" id="info" room-language="html" room-mode="xml" room-name="<%= roomName %>"
		user-name="<%= username %>" host-name="<%= host %>">

	<main>
		<section id="code-container">
			<textarea id="editor"><!-- Type your HTML code here... --></textarea>
		</section>

		<%- include('partials/communication') %>

		<%- include('partials/menu') %>
	</main>

	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="/js/main.js"></script>
</body>

</html>